.MonthlyPremium {
  > div.total-premium {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik";
    background: $persian-green;
    padding: 0 8px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-top: 8px;

    &.orange {
      background: $fuel-yellow;
    }

    &.invalid {
      background: $iron;
      > span {
        display: inherit;
      }
    }

    > p {
      display: inline-block;
      vertical-align: baseline;
      font-size: 33px;
      font-weight: 500;
      color: white;

      > span {
        font-size: 24px;
      }
    }
  }

  p.monthly-incl-gst-title {
    padding-bottom: 8px;
  }
}
