{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "parser": "babel-eslint"
}
