.EditPolicy-ContactSidebar {
  position: relative;
  padding: 0 24px;

  > h5 {
    margin-bottom: 11px;
  }

  > p {
    margin-bottom: 19px;
  }

  ul.social-media {
    background-color: $iron;
    padding: 16px 22px;
    border-radius: 4px;
  }
}
