//whites-greys-blacks
$black: #000000;
$emperor: #555555;
$dusty-gray: #979797;
$nobel: #b3b3b3;
$gallery: #efefef;
$white: #ffffff;

$pastel-red: #ef4c4c;
$bluish-green: #11aa52;
$tooltip-green: #e6f6ee;
$cerulean: #006cbc;
$banana-yellow: #f2f255;
$butterscotch: #f1b951;
$clear-blue: #1c91ff;
$viridian: #1a8574;
$clear-blue: #1c91ff;

$persian-green: #00b3a5;
$teal: #008f84;
$big-stone: #171f3b;

$iron: #e7e7e9;
$storm-gray: #6d6f78;
$athens-gray: #f3f3f4;
$whisper: #fafafc;
$ebony: #0a091a;
$mid-grey: #5d5d66;
//$ebony: #0c0f1f;
$mischka: #dddce6;
$well-read: #b82e30;
$emerald: #52cc60;
$fuel-yellow: #ed9e37;
$french-gray: #c0c0cc;
$manatee: #dddce6;
$seashell: #f1f1f1;
$wild-sand: #f6f6f6;

$cinnabar: #e63a3c;
